---
interface Props {
  href: string;
  text?: string;
  class?: string;
  external?: boolean;
}

const {
  href,
  text = 'See more',
  class: className,
  external = false,
  ...rest
} = Astro.props;
---

{
  external ? (
    <a
      href={href}
      class:list={['button', className]}
      target="_blank"
      rel="noopener noreferrer"
      {...rest}
    >
      {text}
    </a>
  ) : (
    <a href={href} class:list={['button', className]} {...rest}>
      {text}
    </a>
  )
}

<style lang="scss">
  .button {
    display: block;
    width: fit-content;
    height: 50px;
    padding: 0 16px;
    padding-bottom: 4px;
    font-size: 24px;
    font-weight: bold;
    line-height: 46px;
    text-align: center;
    background-color: #fff;
    box-shadow: 4px 4px 0px 0px $dg4-black;
    transition: all 0.2s;
    transform: translate(-4px, -4px);

    @include media(sp) {
      height: 40px;
      padding-bottom: 2px;
      font-size: 16px;
      line-height: 38px;
    }

    &:hover {
      box-shadow: 0px 0px 0px 0px $dg4-black;
      opacity: 1;
      transform: translate(0px, 0px);
    }
  }
</style>
